{% extends "base.html" %}

{% block content %}

{% if user_token %}
<h2>Edit Booking</h2>
<form action="/edit-booking/{{ booking['_id'] }}" method="post">
    <p>Room: {{ booking['room_name'] }}</p>
    <label>Date:</label>
    <input type="date" name="date" value="{{ booking['date'] }}" required/><br/>
    <label>Start Time:</label>
    <input type="time" name="start_time" value="{{ booking['start_time'] }}" required/><br/>
    <label>End Time:</label>
    <input type="time" name="end_time" value="{{ booking['end_time'] }}" required/><br/>
    <input type="submit" value="Update"/>
    <a href="/">Cancel</a>
</form>
{% endif %}

{% endblock %}